<div class="container">
	<div class="d-flex justify-content-center h-100">
	<div class="card">
		<div class="card-header">
			<h3>Sign Up</h3>
			<!-- <div class="d-flex justify-content-end social_icon">
				<span><i class="fab fa-facebook-square"></i></span>
				<span><i class="fab fa-google-plus-square"></i></span>
				<span><i class="fab fa-twitter-square"></i></span>
			</div> -->
		</div>
		<div class="card-body">
			<form action="/api/v1/users/register" method="post" enctype="application/x-www-form-urlencoded">
				
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<input type="text" class="form-control" name="name" placeholder="username" onkeydown="return alphaOnly(event);"
					onblur="if (this.value == '') {this.value = 'Type Letters Only';}"
					onfocus="if (this.value == 'Type Letters Only') {this.value = '';}">
				
						</div>
					<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-envelope"></i></span>
					</div>
					<input type="text" class="form-control" name="email" placeholder="email">
					
					</div>
					
					<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-mobile"></i></span>
					</div>
					
					<input type="text" class="form-control" name="phone" id="mobile" placeholder="mobile" onkeyup="check(); return false;" ><span id="message"></span>

					</div>
					
					<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
						<input type="password" class="form-control" name="password" id="pwd" placeholder="password" onkeyup="checkpwd();return false;" ><span id="mssge"></span>

					</div>
				
				<!-- <div class="row align-items-center remember">
					<input type="checkbox">Remember Me
				</div> -->
				<div class="form-group">
					<input type="submit" value="Register" class="btn float-right login_btn">
				</div>
			</div>
				<div class="card-footer ">
					<div class="d-flex justify-content-center links">
						Already have an account?<a href="login">Login</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</form>
			<% if(typeof alert != 'undefined') { %>
				<% alert.forEach(function(error) { %>
					<div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
						<%= error.msg %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
				<% }) %>
			<% } %> 
	</div>
</div>
</div>